@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  caret-color: transparent;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: bold;
}

.sidebar {
  background-color: rgb(14, 165, 233);
  height: 100vh;
  color: white;
}

.logo-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.logo-text > img {
  height: 60px;
  width: auto;
}

.icon-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
  margin-left: 20px;
}

.icon-text p {
  margin-left: 15px;
  margin-top: 10px;
  font-size: 1.5rem;
}

.sidebar-options-bottom {
  margin-top: 100px;
}

.main-grid {
  display: grid;
  background-color: rgb(109, 40, 217);
  grid-template-columns: 15% 85%;
  grid-template-rows: 15% 35% 50%;
  height: 100vh;
}

.header {
  display: grid;
}

.header-grid {
  display: grid;
  background-color: hsl(204, 100%, 97%);
  grid-template-columns: 60% 40%;
  grid-template-rows: 50% 50%;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 2%;
}

.navbar input {
  width: 100%;
  height: 30%;
  border-radius: 15px;
  padding: 5px;
  caret-color: black;
  background-color: hsl(214, 95%, 93%);
  outline: rgb(14, 165, 233);
  font-size: 20px;
}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 10%;
  margin-right: 5%;
}

.greeting {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  gap: 2%;
}

.avatar-welcome {
  margin-bottom: 1%;
}

.btns-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15%;
}

.btn {
  display: flex;
  padding: 3%;
  width: 20%;
  height: 50%;
  font-weight: Bold;
  font-size: 120%;
  background-color: rgb(14, 165, 233);
  color: whitesmoke;
  border: solid 1px whitesmoke;
  border-radius: 100px;
  align-items: center;
  justify-content: center;
}

.projects {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  background-color: hsl(214, 95%, 93%);
  grid-template-columns: 70% 30%;
  height: 100%;
}

.projects-title {
  display: flex;
  position: absolute;
  top: 16%;
  left: 20%;
}

.projects-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(3, 1fr);
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.project-cells {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: wrap;
  border: solid 1px black;
  width: 350px;
  height: 150px;
  margin-top: 5%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px;
  border-left: 6px solid rgb(100, 200, 150);
  background-color: whitesmoke;
}

.card p {
  font-weight: bold;
  font-size: 15px;
}

.card-options {
  display: flex;
  position: relative;
  justify-content: flex-end;
  gap: 20px;
}

.announcements {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: hsl(214, 95%, 93%);
  height: 100%;
}

.announcements-title {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.announcements-container {
  background-color: whitesmoke;
  border: solid 1px black;
  border-radius: 10px;
  margin-left: 50px;
  width: 75%;
  box-shadow: 10px 10px 10px;
  border-left: 6px solid rgb(100, 200, 150);
}

.announcements-text {
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-wrap: wrap;
  width: 300px;
  height: 100px;
  margin-left: 10%;
}

.announcements-border {
  border: none;
  border-bottom: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trending {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  height: 40%;
  width: 75%;
  margin-left: 50px;
  border-radius: 10px;
}

.trending-title {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.trending-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: whitesmoke;
  border-radius: 10px;
  border: solid 1px black;
  padding: 10px;
  box-shadow: 10px 10px 10px;
  border-left: 6px solid rgb(100, 200, 150);
}

.user-trending {
  display: flex;
  gap: 10px;
  margin-left: 10px;
  margin-top: 15px;
}

.user-trending h6 {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.avatar-trending {
  width: 60px;
}
