@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  caret-color: transparent;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: bold;
}

.sidebar {
  background-color: rgb(14, 165, 233);
  height: 100vh;
  color: white;
}

.logo-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 10px;
  margin-top: 10px;
  margin-left: 40px;
}

.logo-text > img {
  height: 60px;
  width: auto;
}

.icon-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
  margin-left: 50px;
}

.icon-text p {
  margin-left: 15px;
  margin-top: 10px;
  font-size: 1.5rem;
}

.sidebar-options-bottom {
  margin-top: 100px;
}

.main-grid {
  display: grid;
  background-color: rgb(109, 40, 217);
  grid-template-columns: 20% 80%;
  grid-template-rows: 20% 40% 40%;
  height: 100vh;
}

.header {
  display: grid;
}

.header-grid {
  display: grid;
  background-color: green;
  grid-template-columns: 60% 40%;
  grid-template-rows: 50% 50%;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 2%;
}

.navbar input {
  width: 100%;
  height: 30%;
  border-radius: 15px;
  padding: 5px;
  caret-color: black;
  outline: rgb(14, 165, 233);
}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 10%;
  margin-right: 25%;
}

.greeting {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  gap: 2%;
}

.avatar-welcome {
  margin-bottom: 1%;
}

.greeting-text {
  margin-top: 2%;
}

.btns-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15%;
}

.btn {
  padding: 3%;
  width: 20%;
  font-weight: Bold;
  font-size: 120%;
  background-color: rgb(14, 165, 233);
  color: whitesmoke;
  border: solid 1px whitesmoke;
  border-radius: 10px;
}

.projects {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  background-color: rgb(113, 113, 122);
}
